.nf-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nf-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.08;
  z-index: 1;
}

.nf-content {
  z-index: 2;
  text-align: center;
  padding: 2rem;
}

.nf-img {
  max-width: 350px;
  margin-bottom: 5px;
}

.nf-title {
  font-size: 4rem;
  margin: 0 0 0.5rem;
  color: #28C76F;           /* project primary colour */
  font-weight: 800;
}


.nf-tagline {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.highlight {
  color: #e63946;
  font-weight: bold;
}

.nf-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #28C76F;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nf-btn:hover {
  background-color: #005fa3;
}
