.header {
  background: linear-gradient(90deg, #ff930f, #fff95b);
  padding: 14px 24px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  
}


.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.logo {
  width: 42px;
  height: 42px;
}

.header h2 {
  color: rgb(77, 77, 77);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
}
